.main{
  display: block;
}
.main__uper {
  display: grid;
  grid-template-columns: 1fr 12vw 1fr;
  padding: 36px 13px;
}

.main__uper__left {
  margin-top: 15vh;
  max-width: 35vw;
  max-height: 50vh;
  border: 2px solid #3c1a699e;
  overflow-y: auto;
  margin-left: 35px;
}
.main__uper__left__history {
  display: flexbox;
  flex-direction: column;
  background: rgba(76, 63, 129, 0.356);
}
.main__uper__left img {
  width: 20vw;
  height: 10vh;
}
.main__uper__left__history .one {
  padding: 4rem 0;
}
#myhistory {
  margin-bottom: 2rem;
  margin-left: 5rem;
}
#childhood {
  width: 14vw;
  height: 16vh;
  float: left;
  margin: 5%;
}
.paired__images {
  /* display: flex; */
  justify-content: space-between;
  margin: 2rem 2rem;
  flex-direction: column;
  margin-left: 17px;
  padding-top: 0;
}
.pair {
  max-width: 12vw;
}
.main__uper__left__history .two p {
  margin: 1rem 2rem -3rem 2rem;
}
.main__uper__left__history .three {
  margin: 3rem 1.5rem;
}
#aait {
  width: 27vw;
  height: 22vh;
  margin: 2rem auto 1rem auto;
}
.main__uper__middle {
  display: flex;
  justify-content: center;
  margin-left: -61px;
  margin-top: -9px;
}
ol {
  text-transform: uppercase;
}
.main__uper__right {
  display: flexbox;
  max-width: 35vw;
  max-height: 50vh;
  border: 2px solid #003f8070;
  overflow-y: auto;
  margin-right: 0;
  background: rgba(49, 85, 85, 0.267);
}
.main__uper__right__goal {
  display: flex;
  flex-direction: column;
}
.mobilegame,.cargame {
  width: 14vw;
  height: 12vh;
}
.gamedev__image {
  display: flex;
  justify-content: space-between;
  margin: 1rem 1.7vw;
}
.ai {
  padding: 7px;
}
.ai img {
  width: 30vw;
  height: 23vh;
  margin: 2rem 1rem;
}
.main__lower{
  padding: 0 0;
}
#main__lower__h1 {
  margin-top: 19px;
  margin-left: 26%;
  margin-bottom: -50px;
}
.erdata,.resume {
  display: flex;
  border: blueviolet solid 1px;
  border-radius: 0.9vw;
  margin: 15vh 15vw;
  align-content: center;
  justify-content: center;
  background-color: rgba(102, 80, 122, 0.425);
}
.erdata a:hover{
 background: linear-gradient(to right, rgb(240, 0, 0) ,rgb(151, 9, 9) ,rgb(77, 73, 48), rgba(0, 255, 234, 0.445), rgb(0, 255, 76) ,rgb(225, 0, 255), rgba(0, 238, 255, 0.555), rgb(165, 133, 158), rgb(158, 22, 67));
}
.boxx,.box2 {
  margin: 5% 2%;
}
.erdata img,.resume img {
  max-width: 50vw;
  max-height: 35vh;
  float: left;
  margin: 30px;
}
.erdata p,.resume p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.02em;
  padding: 5vh 10%;
}
.erdata a, .resume a{
  display: flex;
  justify-content: center;
  padding: 6vh 0;
  text-decoration: none;
  font-size: 2rem;
}
.table{
  display: flex;
  justify-content: center;
}
table td{
  border: 1px solid rgba(28, 21, 119, 0.678);
  padding: 2vh 3vw;
}
.table th{
  padding: 2vh 3vw;
  justify-self: left;
  background-color: rgba(43, 25, 77, 0.637);
}


@media screen and (max-width: 1000px) {

  .main__uper {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
  }
  .main__uper__middle {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    justify-content: flex-end;
   
  }

  .main__uper__left {
    grid-row: 2;
    grid-column: 1;
    margin-top: 15vh;
    max-width: 35vw;
    max-height: 50vh;
    border: 2px solid #3c1a699e;
    overflow-y: auto;
    margin-left: 35px;
  }

  .main__uper__right {
    grid-row: 2;
    grid-column: 2;
    display: flexbox;
    max-width: 35vw;
    max-height: 50vh;
    border: 2px solid #003f8070;
    overflow-y: auto;
    margin-right: 0;
    background: rgba(49, 85, 85, 0.267);
  }
  .main__uper__left__history .one {
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
  }
  #childhood {
    width: 25vw;
    height: 22vh;
    margin: 3%;
    border-radius: -1px;
    border-radius: 39px;

}
.paired__images img {
  width: 22vw;
  height: 20vh;
  border-radius: 10px;
  margin-left: 88px;
  gap: 154px;
  margin-bottom: 30px;
  margin-top: 26px;
}
.shooldescription{
  margin: 0 12px;
}
.gamedev__image {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem 1.7vw;
}
.gamedev__image img{
  width: 256px;
  height: 150px;
  padding: 17px 6px;
  border-radius: 43px;
}
.main__uper__left p,
.main__uper__right p{
  padding: 3px 4px;
}
.erdata img, .resume img {
  max-width: 23vw;
  max-height: 61vh;
  margin: 30px;
  width: 414px;
  border-radius: 44px;
  height: 252px;
}
.main__uper__left p, .main__uper__right p {
  padding: 3px 4px;
  margin-bottom: -100px;
}
#childhood {
  width: 25vw;
  height: 22vh;
  margin: 3%;
  border-radius: -1px;
  border-radius: 39px;
  width: 279px;
  height: 256px;
  margin-left: 41px;
}
}

@media screen and (max-width: 900px) {

  .main__uper {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .main__uper__middle {
    order: -1;
    display: flex;
    justify-content: center;
   
  }

  .main__uper__left {
    margin-top: 15vh;
    max-width: 35vw;
    max-height: 50vh;
    border: 2px solid #3c1a699e;
    overflow-y: auto;
    margin-left: 35px;
    justify-content: center;
  }

  .main__uper__right {

    display: flexbox;
    max-width: 35vw;
    max-height: 50vh;
    border: 2px solid #003f8070;
    overflow-y: auto;
    margin-right: 0;
    background: rgba(49, 85, 85, 0.267);
    justify-content: center;
  }
  .main__uper__left {
    max-width: 80vw;
    max-height: 59vh;
    border: 7px solid #3c1a699e;
    overflow-y: auto;
    margin-left: 31px;
    justify-content: center;
}
.main__uper__right {
  display: flexbox;
  max-width: 80vw;
  max-height: 65vh;
  border: 9px solid #003f8070;
  overflow-y: auto;
  margin-right: 0;
  background: rgba(49, 85, 85, 0.267);
  margin-left: 30px;
  margin-top: 90px;
}

.main__uper__middle {
  order: -1;
  display: flex;
  justify-content: center;
  margin-top: 31px;
  margin-bottom: -46px;
}
#childhood {
  width: 25vw;
  height: 22vh;
  margin: 3%;
  border-radius: -1px;
  border-radius: 39px;
  width: 279px;
  height: 256px;
  margin-left: 41px;
  margin-left: 129px;
}
.main__uper__left img {
  max-width: 185px;
  max-height: 21vh;
}
.paired__images img{
  width: 200px;
}
.gamedev__image img {
  width: 302px;
  height: 183px;
  padding: 17px 6px;
  border-radius: 43px;
  margin-left: 66px;
}
.ai img {
  width: 49vw;
  height: 34vh;
  margin: 2rem 1rem;
  margin-top: 117px;
  margin-left: 74px;
}

.erdata img, .resume img {
  max-width: 50vw;
  max-height: 35vh;
  margin: 30px;
}
.table:first-child { width: 1% }
}


