@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.super__container{
    display: grid;
    grid-template-rows: 20vh auto 50px ;
    
}
header{
    background-image: url(../image/header\ background.jpg);
    opacity: 80%;
    position: -webkit-sticky;
    position: sticky;
    top: -40px;
}
.header{
    padding: 2vh 2vh 0;
   display: grid;
   grid-template-columns: 10vw 1fr;
   justify-content: center;
   align-items: center;
   position: fixed;
}
 .logo img{
  margin-top: -2.5vh; 
  width: 6vw;
  height: 10vh;   
  border-radius: 7vw;
  /* padding: ; */
}
.nav{
    margin-left: 20vw;
    display: flex;
    flex-direction: row;
    align-content:flex-end;
    justify-content: flex-end;  
}

#e{
    border-style: solid 3px rgb(168, 14, 14);

    list-style-type: none;
    margin-right: 3vw;
    display: flex;
    gap: 3vw;
    flex-direction: row;  
    justify-content: flex-end;
    align-content: flex-end;

}
.body{
    background-size: cover;
}
.body-part{
    display: grid;
    grid-template-rows: 30px 1fr;
}
.ancher{
    box-shadow: rgb(110, 70, 56) 2px -4px -3px;
    border:0.003px solid;
    border-radius: 30px;
    background: rgba(7, 30, 39, 0.76);
    text-decoration: none;
    color: rgba(12, 235, 123, 0.986);
    font-size: 1.26em;
    font-weight: 660;
    text-transform: uppercase;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.rest{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.navigation li{
    font-size: 1.3em;
    list-style-type: none;
    border-radius: 20px;
    text-decoration: none;
}

.foot{
    background-color: rgba(0, 100, 0, 0.342);
    display: grid;
    grid-template-columns: 20vw 25vw 18vw 1fr;
    grid-template-rows: 50px;
}
footer p{
    font-size: 16px;
}

footer img{
    float: left;
}
.col-C{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    position: relative;
}
.addisababa p{
    font-size: 10px;
}
.col-D{
    justify-content: center;
}

