.super-container{
    display: grid;
    grid-template-rows: 40vh 1fr 60px;
}
.a{
    display: grid;
    grid-template-columns: 10vw 1fr;

}
.nav{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: flex-end;
}
.list{
    
    display: grid;
    /* flex-direction: column-reverse; */
    gri
    padding-right: 15vw;
    justify-items: center;
    align-content: center;

}


